<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ITServiceProjectBeaudDeBlasiConnectionString"
            connectionString="Data Source=153.109.124.35;Initial Catalog=ITServiceProjectBeaudDeBlasi;User ID=6231db;Password=Pwd46231."
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPrinter" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:61520/Printer.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IPrinter" contract="ServiceReferencePrinter.IPrinter"
                name="BasicHttpBinding_IPrinter" />
        </client>
    </system.serviceModel>
</configuration>